@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Orbitron:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --font-display: "Orbitron", sans-serif;
  
  --color-iris-black: #050505;
  --color-iris-cyan: #00F0FF;
  --color-iris-rose: #FF0055;
  --color-iris-amber: #FFD700;
  --color-iris-slate: #64748B;
  
  --animate-spin-slow: spin 3s linear infinite;
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  background-color: var(--color-iris-black);
  color: var(--color-iris-cyan);
  font-family: var(--font-mono);
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-iris-cyan);
}
